docs/n8n-gemini-proxy-workflow.json
{
  "name": "Gemini Proxy (Test Gemini Live)",
  "nodes": [
    {
      "parameters": {
        "path": "gemini-proxy",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "a1f0e2c4-1111-4aaa-8bbb-100000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-192, -16],
      "webhookId": "a1f0e2c4-1111-4aaa-8bbb-100000000099"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst recordId =\n  input.query?.id ||\n  input.query?.recordId ||\n  input.body?.id ||\n  input.body?.recordId ||\n  input.id ||\n  input.recordId;\n\nif (!recordId) {\n  return [{ json: { ok: false, error: 'missing_recordId', receivedQuery: input.query || null } }];\n}\n\nreturn [{ json: { recordId: String(recordId).trim(), id: String(recordId).trim() } }];"
      },
      "id": "a1f0e2c4-1111-4aaa-8bbb-100000000002",
      "name": "Proxy Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-16, -16]
    },
    {
      "parameters": {
        "databaseId": {
          "__rl": true,
          "value": "e4cb7ec9-c306-4d24-846b-20b33994dbf9",
          "mode": "list",
          "cachedResultName": "Tacita 2.0",
          "cachedResultUrl": "https://studio.softr.io/databases/e4cb7ec9-c306-4d24-846b-20b33994dbf9"
        },
        "tableId": {
          "__rl": true,
          "value": "c7rm590GNBKg4c",
          "mode": "list",
          "cachedResultName": "Test Gemini Live"
        },
        "filter": {
          "condition": {
            "operator": "AND",
            "conditions": {
              "parameters": [],
              "condition": []
            }
          }
        },
        "paging": {}
      },
      "type": "n8n-nodes-softr.softr",
      "typeVersion": 1,
      "position": [128, -16],
      "id": "a1f0e2c4-1111-4aaa-8bbb-100000000003",
      "name": "Get many records",
      "alwaysOutputData": true,
      "credentials": {
        "softrApi": {
          "id": "p7RnpR84JDCjnr4v",
          "name": "Softr account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const proxy = $('Proxy Logic').first().json;\nconst requestedId = String(proxy.recordId || proxy.id || '').trim();\n\nconst inputItems = $input.all();\nlet records = [];\nfor (const item of inputItems) {\n  const value = item.json;\n  if (Array.isArray(value.data)) records.push(...value.data);\n  else if (Array.isArray(value.records)) records.push(...value.records);\n  else if (value.data && typeof value.data === 'object') records.push(value.data);\n  else records.push(value);\n}\n\nfunction asText(value) {\n  if (value === undefined || value === null) return '';\n  if (Array.isArray(value)) return value.map(asText).filter(Boolean).join(', ');\n  if (typeof value === 'object') return value.value || value.name || value.label || value.text || value.title || JSON.stringify(value);\n  return String(value).trim();\n}\n\nconst record =\n  records.find((entry) => {\n    const fields = entry.fields || entry;\n    const possibleIds = [entry.id, entry.recordId, entry._id, fields.id, fields.recordId, fields['Record ID'], fields['ID']];\n    return possibleIds.some((v) => asText(v) === requestedId);\n  }) || (records.length === 1 ? records[0] : null);\n\nif (!requestedId) {\n  return [{ json: { ok: false, error: 'recordId mancante' } }];\n}\nif (!record) {\n  return [{ json: { ok: false, error: `Record non trovato: ${requestedId}`, recordsFound: records.length } }];\n}\n\nconst fields = record.fields || record;\nfunction pick(...names) {\n  for (const n of names) {\n    const v = fields[n];\n    if (v !== undefined && v !== null && asText(v) !== '') return asText(v);\n  }\n  return '';\n}\n\nconst response = {\n  ok: true,\n  id: requestedId,\n  recordId: requestedId,\n  nome: pick('Nome', 'nome'),\n  cognome: pick('Cognome', 'cognome'),\n  ruolo: pick('Ruolo', 'ruolo'),\n  azienda: pick('IA', 'Strumento IA', 'Azienda', 'azienda')\n};\n\nif (!response.nome && !response.cognome && !response.ruolo && !response.azienda) {\n  response.ok = false;\n  response.error = 'Record trovato, ma campi anagrafici vuoti. Controlla i nomi dei campi Softr.';\n  response.availableFields = Object.keys(fields).join(' | ');\n}\n\nreturn [{ json: response }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [288, -16],
      "id": "a1f0e2c4-1111-4aaa-8bbb-100000000004",
      "name": "Map Fields"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Cache-Control", "value": "public, max-age=60" }
            ]
          }
        }
      },
      "id": "a1f0e2c4-1111-4aaa-8bbb-100000000005",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [448, -16]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Proxy Logic", "type": "main", "index": 0 }]] },
    "Proxy Logic": { "main": [[{ "node": "Get many records", "type": "main", "index": 0 }]] },
    "Get many records": { "main": [[{ "node": "Map Fields", "type": "main", "index": 0 }]] },
    "Map Fields": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": {},
  "pinData": {}
}
